header 
    img(src="../logo.svg", alt="Logo de la empresa")
    nav.nav-text
        ul 
            li: a(href="#") 00 HOME 
            li: a(href="#") 01 DESTINATION 
            li: a(href="#") 02 CREW 
            li: a(href="#") 03 TECHNOLOGY