extends ../templates/basic.pug
block text
    h1 PICK YOUR DESTINATION 
    img(src="", alt="Moon")

block figure      
    menu 
        li MOON
        li MARS 
        li EUROPE 
        li TITAN 
    article 
        h2 MOON 
        p See our planet as you're never seen it before. A perfect relaxing trip away to help reganin perspective and come bask regreshed. While you're there, take in some hidtory by vusiting the Luna 2 and Apollo 11 landing sites.

    section 
        h3 AVG. DISTANCE 
        p 384,400 KM

        h3 EST. TRAVEL TIME
        p 3 DAYS 