<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style-home.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <title>Nasa - Nacional Society </title>
  </head>
  <body> 
    <header> <img src="../logo.svg" alt="Logo de la empresa">
      <nav class="nav-text">
        <ul> 
          <li><a href="#">00 HOME </a></li>
          <li><a href="#">01 DESTINATION </a></li>
          <li><a href="#">02 CREW </a></li>
          <li><a href="#">03 TECHNOLOGY</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="info">
      </section>
      <section class="figure">
      </section>
    </main>
  </body>
</html>